@page
@model projectRP.Pages.Calisanlar.CreateModel
@{
}
<br />
<h2>Çalışan Ekleme Ekranı</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismis="alert" aria-label="close"></button>
    </div>
}
<form method="Post">
    <div class="row mb-3">
        <label class="col-sm-3">Ad Soyad</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="adsoyad" value="@Model.calisanBilgi.AdSoyad" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Departman</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="departman" value="@Model.calisanBilgi.Departman" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Pozisyon</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="pozisyon" value="@Model.calisanBilgi.Pozisyon" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Maaş</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="maas" value="@Model.calisanBilgi.Maas" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Telefon</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="telefon" value="@Model.calisanBilgi.Telefon" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Calisanlar/Index" role="button">İptal</a>
        </div>
    </div>
</form>