@model dpperUygulama.Models.ServiceRecord

<h2>Servis Ekle / Güncelle</h2>

<form asp-action="EY" method="post">

    <input type="hidden" asp-for="ServiceId" />

    <!-- VEHICLE -->
    <div class="mb-3">
        <label>Araç</label>
        <select asp-for="VehicleId" class="form-control">

            <option value="">Seç</option>

            @foreach (var item in ViewBag.Vehicles)
            {
                <option value="@item.VehicleId">
                    @item.Brand - @item.Plate
                </option>
            }

        </select>
    </div>

    <!-- EMPLOYEE -->
    <div class="mb-3">
        <label>Personel</label>
        <select asp-for="EmployeeId" class="form-control">

            <option value="">Seç</option>

            @foreach (var item in ViewBag.Employees)
            {
                <option value="@item.EmployeeId">
                    @item.EmployeeName
                </option>
            }

        </select>
    </div>

    <div class="mb-3">
        <label>Tarih</label>
        <input asp-for="ServiceDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Açıklama</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Ücret</label>
        <input asp-for="Cost" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Kaydet
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Geri Dön
    </a>

</form>